<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ml.flipclock"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:supportsRtl="true"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:icon="@mipmap/flip_ic_launcher_round"
            android:label="@string/flip_app_name"
            android:turnScreenOn="true"
            android:launchMode="singleInstancePerTask"
            android:screenOrientation="landscape"
            android:configChanges="screenLayout"
            android:theme="@style/Theme.FlipClock">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity-alias
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/flip_ic_launcher_round"
            android:name=".MainActivityAlias"
            android:label="@string/flip_app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
    </application>

</manifest>